.home-page-crousal{
    position: relative;
}

.left-arrow-hover-wrapper{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate( 0% , -50%);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.left-arrow-hover-wrapper span {
    width: 1cm;
    height: 1cm;    
    border-left: 5px solid red;
    border-bottom: 5px solid white;
    margin-left: -20%;
    transform: rotate(45deg);
    animation: scrollleft 3s linear infinite;
}


.left-arrow-hover-wrapper span:nth-child(2){
    animation-delay: -0.2s;
}

.left-arrow-hover-wrapper span:nth-child(3){
    animation-delay: -0.4s;
}

.right-arrow-hover-wrapper span:nth-child(2){
    animation-delay: 0.2s;
}

.right-arrow-hover-wrapper span:nth-child(3){
    animation-delay: 0.4s;
}


@keyframes scrollleft{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(0px , 0px);
    } 
    50%{
        opacity: 1;
        transform: rotate(45deg) translate(-10px , 10px);
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px , 20px);
    }
}

.right-arrow-hover-wrapper{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate( 0% , -50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-arrow-hover-wrapper span {
    width: 1cm;
    height: 1cm;
    border-top: 5px solid red;
    border-right: 5px solid white;
    transform: rotate(45deg);
    animation: scrollright 3s linear infinite;
}

@keyframes scrollright{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(0px , 0px);
    }
    50%{
        opacity: 1;
        transform: rotate(45deg) translate(10px , -10px);
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px , -20px);
    }
}


.crousal-img-container {
    width: 100%;
    background-color: black;
}

.crousal-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: right;
}

.home-intro-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.home-into-wrapper {
    margin-top: 10vh;
    position: relative;
}

.home-intro-img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.459);
}


.intro-content{
    /* background-color: rgba(0, 0, 0, 0.568); */
    width: 100%;
    height: 3cm;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    vertical-align: center;
    color: white;
    background-color: rgb(44, 43, 43);
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-content-2{
    width: 100%;
    height : 40%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', 'sans-serif';
}

.i-c-2-heading{
    text-transform: uppercase;
    font-size: 3rem;
    color: white;
}

.i-c-2-heading-2{
    color: white;
}

.style-btn{
    width: 3cm;
    height: 1cm;
    text-transform: uppercase;
    background-color: rgba(240, 248, 255, 0);
    color: white;
    border-color: aliceblue;
    margin-top: 30px;
}

.style-btn-1{
    background-color: red;
    border: 1px solid red;
}   

.style-btn-2{
    margin-left: 1cm;
    border: 2px solid white;
}

.warapper-2{
    display: flex;
    flex-direction: row;
    height: 60vh;
    /* margin: 1rem; */
}

.i-c-2-heading-2{
    font-family: 'Sora';
    text-align: center;
}

.crousal-wrapper-2{
    width: 60%;
    height: 100%;
    position: relative;
    padding-left: 1rem;
}

.colored-boundary{
    background-color: red;
    width: 20%;
    height: 100%;
}

.wrapper-2-head-1{
    font-family: 'Bebas Neue', 'sans-serif' ;
    color: red;
    font-size: 2rem;
}
.wrapper-2-head-2{
    font-family:'Bebas Neue', 'sans-serif';
    font-size: 3rem;
    color: white;
}
.wrapper-2-head-3{
    font-family: 'Sora';
}

.wrapper-2-content{
    font-family: 'Sora';
    font-size: 1rem;
    color: white;
}

.content{
    padding: 2rem;
}

.find-notes-btn{
    width: 5cm;
    height: 1cm;
    background-color: red;
    color: white;
    border: 2px solid red;
    text-transform: uppercase;
    margin-top: 1rem;
}

.home-main{
    overflow: scroll;
}


@media( max-width : 600px ){
    .warapper-2{
        /* display: none; */
        flex-direction: column;
        width: 100%;
    }
    .crousal-wrapper-2 {
        width: 100%;
        background-color: rgb(255, 0, 0);
    }
    .colored-boundary{
        display: none;
    }
    .intro-content , .i-c-2-heading {
        font-size: 1.5rem;
        padding: 1rem;
    }
}
