.Product-page-container{
    display: flex;  
    height: 100vh;
    background-color: rgb(27, 25, 25);
}

.pp-left-section{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 25, 25);
}

.pp-right-section{
    width: 40%;
    margin-right: 10%;
    overflow: scroll;
}

.thumbsWrapper{
    width: 50%;
    position: relative;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.pp-img-container{
    width: 100%;
    height: 100%;
}

.pp-crousal-img{
    width: 100%;
    height: 18cm; 
    object-fit:fill;
    object-position: center;
}

.thw-borders{
    background-color: palevioletred;
    height: 1cm;
    position: absolute;
}

.tw-up-overlay{
    width: 100%;
    height: 1cm;
    background-color: rgba(255, 0, 0, 0.794);
    top : 0 ;
    position: absolute;
    z-index: 10;
}

.tw-btm-overlay{
    width: 100%;
    height: 1cm;
    background-color: rgba(255, 0, 0, 0.722);
    position: absolute;
    bottom: 0;
    z-index: 10;
}


/* //PDetails */

.pDetails-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    background-color: rgb(244, 244, 244);
    padding-left: 2rem;
    padding-right: 2rem;
}

#Pdetail1 , #Pdetail6 , #Pdetail7 , #Pdetail9 , #Pdetail10{
    color: red;
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
    margin-top: 1rem;
}

#Pdetail2{
    font-size: 2rem;
    font-family: 'Bebas Neue';
}

.buy-notes-btn{
    width: 100%;
    height: 1cm;
    background-color: red;
    border : 2px solid red ;
    text-transform: uppercase;
    font-family: 'Sora';
    color: white;
    font-weight: bold;
    margin-top: 1rem;
}

.smaill-headings{
    font-family: 'Sora';
    text-transform: uppercase;
    margin-top: 1rem;
    color: red;
}

.pdspans{
    color: black;
    text-transform: lowercase;
}

.pp-page-heading{
    color: white;
    background-color: rgb(27, 25, 25);
    font-family: 'Bebas Neue';
    font-size: 3rem;
}