.mynotes-wrapper{
    background-color: black;
}

.m-n-heading{
    color: white;
    font-family: 'Bebas Neue';
    font-size: 3rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.my-note-quote{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-note-quote-1{
    color: white;
    font-size: 2rem;
    font-family: 'Bebas Neue';
}

.my-note-quote-2{
    color: rgb(255, 0, 0);
    font-size: 1rem;
    font-family: 'Sora';
    text-align: center;
}


.my-notes-cards-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-notes-card-conatiner{
    color: white;
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    position: relative;
    overflow: hidden;
}

.my-notesCardIcon{
    width: 8rem;
    height: 8rem;
}

.mynotes-pid{
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue';
    font-size: 3rem;
    overflow: scroll;
}