.user-details-wrapper{
    position: absolute;
    top :0 ; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.278);
    z-index: 2;
    color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-inner-wrapper{
    width: 80%;
    height: 50%;
    background-color: black;
    display: flex;
}

.user-details-close{
    position: absolute;
    top : 0 ; 
    right : 0 ;
    margin: 1%;
}

.u-sec{
    border: 1px solid white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-wrapper{
    width: 5cm;
    height: 5cm;
}

.user-section-left{
    display: flex;
}

.user-image{
    width: 30%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.basic-detils {
    background-color: yellow;
    width: 70%;
}

.u-details{
    color: white;
}

ul > li{
    list-style-type: none;
}

.list{
    background-color: paleturquoise;
    width: 80% ; 
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}