nav{
    width: 100%;
    height: 2cm;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;

}

.nav-o-c{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}

#nac-o-i{
    background-color: black;
    width : 10cm;
}

span{
    color: white;
    font-family: 'Sora', sans-serif;
}

#login-box{
    background-color: rgb(219, 54, 25);
    width: 2cm;
    height: 1cm;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

.btn{
    margin-top: 10px;
}