@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  /* border: 1px solid black; */
}

#root {
  width: 100%;
  height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

.layout {
  width: 100%;
  /* height: 10cm; */
}