@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  /* border: 1px solid white; */
}

.layout {
  /* width: 100%; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
