.Crad-wrapper{
    width: 70% ;
    height: 8cm;
    background-color: rgb(67, 67, 67);
    display: flex;
    position: relative;
    margin-top: 1rem;
}

.cart-card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-card-left-section{
    overflow: hidden;
    width: 30%;
    height: 100%;
}

.cart-card-right-section{

}

.cart-card-details{

}

.cc-details-text{
    font-size: 2rem;
    margin-left: 2rem;
    font-family: 'Bebas Neue';
}

.clear-cc{
    position: absolute;
    top : 0 ; 
    right : 0 ; 
    font-size: 2rem;
    margin-right: 1rem;
    color: white;
}